/* @import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #111111;
  --primary-foreground: #ffffff;
  --light-color: #ffffff;
  --secondary-color: #666666;
  --mild-color: #555555;
  --mild-dark: #797979;
  --dark-color: #000000;
  --dark-foreground: #0d0c0a;
  --social-color: #ebeced;
  --font-family: "Lato", "Helvetica", sans-serif;
  --paragraph-color: #1a1a1a;
  --border-radius: 8px;
  --border-color: #e9ebed;
  --card-border-radius: 1rem;
  --button-border-radius: 2rem;
}

@layer utilities {
  .heading {
    @apply bg-gradient-to-b from-stone-200 from-80% to-stone-400 inline-block text-transparent bg-clip-text;
  }
  .nav-center {
    @apply flex justify-between items-center;
  }
  .full-center {
    @apply flex justify-center items-center;
  }
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Lato, Helvetica, sans-serif; */
}
